@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: " Cera Round Pro";
  src: url(/fonts/Roboto-Regular.ttf);
}
