* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1325px !important;
  margin: 0 auto;
  padding: 0 20px;
}

@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: " Cera Round Pro";
  src: url(/fonts/Roboto-Regular.ttf);
}
.containers {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 20px;
}

nav {
  padding: 20px 0;
}

#navbar {
  transition: 0.5s all ease-in-out;
}

.navbar-shrink {
  padding: 20px 0;
  box-shadow: #ffffff 5px 0px 3px;
}

.rang {
  background-color: #bb2339;
  padding-top: 20px;
}
.rang img {
  padding-top: -5px;
}
.rang .navbar-toggler {
  padding-top: 5px;
  border: none;
}
.rang .offcanvas-end {
  background-color: #bb2339;
  color: white;
}
.rang .navbar-nav {
  margin-bottom: 50px;
}
.rang .bton a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #ffffff;
}
.rang .bton {
  background-color: transparent;
  border-radius: 24px;
  border: 1px solid #ffffff;
  padding: 10px 40px;
}
.rang .right {
  display: none;
  align-items: center;
  gap: 45px;
}
.rang .right ul {
  display: flex;
  gap: 40px;
  margin-top: 10px;
}
.rang .right a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.rang .offcanvas-body {
  text-align: center;
}
.rang .nav-link {
  margin-bottom: 30px;
  font-size: 30px;
  color: white;
}

.abot {
  padding-top: 70px;
  margin-bottom: 250px;
}
.abot .ab {
  width: 100%;
  margin: 30px 0;
}
.abot .cont {
  text-align: center;
  padding-top: 70px;
}
.abot .cont p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.04em;
  color: #242424;
  opacity: 0.8;
  width: 720px;
  height: 192px;
}

#footer {
  background: #bb2339;
}
#footer .newsletter {
  position: relative;
  top: -170px;
  max-width: 1406px;
  width: 100%;
  padding: 64px 10px;
  text-align: center;
  background: #bb2339;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 22px 30px 95px 1px rgba(86, 86, 86, 0.2);
  border-radius: 20px;
  color: white;
}
#footer .newsletter h5 {
  font-family: "Cera Round Pro";
}
#footer .newsletter h2 {
  font-family: "Cera Round Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
}
#footer .newsletter p {
  font-family: "Open Sans";
  letter-spacing: 0.04em;
  color: #ffffff;
  padding-bottom: 54px;
}
#footer .newsletter form {
  max-width: 700px;
  margin: 0 auto;
}
#footer .last {
  display: grid;
  justify-content: center;
  align-items: center;
  row-gap: 80px;
}
@media (min-width: 900px) {
  #footer .last {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
  }
}
#footer .last .bar1 {
  margin: 0 auto;
  max-width: 281px;
  text-align: center;
  color: white;
  font-family: "Open Sans";
}
#footer .last .bar2 {
  padding-bottom: 30px;
  max-width: 438px;
  text-align: center;
  color: white;
  font-family: "Open Sans";
}
#footer .last .bar2 img {
  margin-top: -50px;
  width: 100%;
  height: 117px;
}
#footer .last .bar2 p {
  padding: 32px 0 47px;
}
#footer .last .bar2 i {
  font-size: 25px;
}
#footer .last .bar3 {
  margin: 0 auto;
  max-width: 237px;
  text-align: center;
  color: white;
  font-family: "Open Sans";
}
#footer h6 {
  color: #fff;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .rang .navbar-toggler {
    padding-top: 5px;
    display: none;
  }
  .rang .right {
    display: flex;
  }
}